svg {
  fill: var(--svg-fill, var(--color-primary));
  vertical-align: middle;
  transition: transform 0.3s;
  transform: scale(1.2);
}
path {
  stroke: var(--svg-stroke, var(--bgColor-primary));
}
.line {
  border-bottom: 2px solid var(--line-color, var(--bgColor-primary));
  padding: var(--s-3);
}
